<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: 'Storage Page'}) %>
  <body id="signup-page">
    <%- include('./partials/header', {page: 'Storage Page'}) %>
    <header id="storage-header">
      <form id="select-form" action="/storage" method="post">
        <select onchange="submit()">
        <% folders.map((folder) => { %>
            <option name="<%= folder.name %>" value="<%= folder.name %>">
              <%= folder.name %>
            </option>
        <% }) %>
        </select>
      </form>
      <button id="new-folder"><img src="./assets/add.svg" alt="create new folder" aria-label="create new folder"></button>
      <div id="view-container">
        <button id="grid" class="grid active"><img  src="./assets/grid.svg" ></button>
        <button class="list inactive"><img src="./assets/list.svg" ></button>
      </div>
      <button id="upload-btn" style="display: flex; align-items: center;"><img src="./assets/upload-1.svg" aria-hidden="true" width="25"><p style="font-size: 1.1rem;">Upload</p></button>
    </header>
    <%- include('./partials/new-folder-form.ejs') %>
  </body>
</html>

<script>
  const form = document.getElementById('new-folder-form');
  const gridBtn = document.querySelector('.grid');
  const listBtn = document.querySelector('.list');

  document.getElementById('new-folder')
    .addEventListener('click', () => {
    form.classList.toggle('hidden');
  })

  document.getElementById('cancel-folder')
    .addEventListener('click', (e) => {
      e.preventDefault();
      form.classList.add('hidden');
    })

    function handleClick(e) {
      const target = e.target.closest('button');

      if (target.classList.contains('grid')) {
        listBtn.classList.remove('active');
        listBtn.classList.add('inactive');
        target.classList.remove('inactive');
        target.classList.add('active');
      } else if (target.classList.contains('list')) {
        gridBtn.classList.remove('active');
        gridBtn.classList.add('inactive');
        target.classList.remove('inactive');
        target.classList.add('active');
      }
    }



    gridBtn.addEventListener('click', handleClick)

    listBtn.addEventListener('click', handleClick)
  
</script>
