<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/shared', {page: 'Storage Page'}) %>
  <body id="storage-page">
    <%- include('./partials/header', {page: 'Storage Page'}) %>
    <div style="display: flex; flex: 1;">
      <%- include('./partials/sideBar', {profile, user, selectedFolder}) %>
      <section style="display: flex; flex-direction: column; flex: 1">
        <header id="storage-header" style="padding: 2rem 2rem 0 2rem;">
          <form id="select-form" action="/storage" method="get">
            <select style="padding-left: 1rem;" name="folders" onchange="this.form.submit()">
            <% folders.forEach((folder, idx) => { %>
                <option value="<%= folder.name %>"
                    <%= folder.name === (selectedFolder || folders[0].name) ? 'selected' : '' %>>
                    <%= folder.name %>
                </option>
            <% }) %>
            </select>
          </form>
          <% if (selectedFolder !== 'All Files' && selectedFolder !== 'Documents' && selectedFolder !== 'Other' && selectedFolder !== 'Gif' && selectedFolder !== 'Images') { %>
            <form action="/storage" method="post">
              <input type="hidden" name="action" value="delete" />
              <input id="selected-folder" type="hidden" name="selectedFolder" value="<%= selectedFolder %>" />
              <button style="background-color: #ffe0e0;" id="del-folder"><img src="/assets/del.svg" alt="create new folder" aria-label="create new folder"></button>
            </form>
          <% } %>
          <button id="new-folder"><img src="/assets/add.svg" alt="create new folder" aria-label="create new folder"></button>
          <div id="view-container" style="background-color: #ececec;">
            <button id="grid" class="grid active"><img  src="/assets/grid.svg" aria-label="activate grid file style"></button>
            <button class="list inactive"><img src="/assets/list.svg" aria-label="activate list file style"></button>
          </div>
          <a href="/upload"><button id="upload-btn" style="display: flex; align-items: center;"><img src="/assets/upload-1.svg" aria-hidden="true" width="25"><p style="font-size: 1.1rem;">Upload</p></button></a>
        </header>
        <%- include('./partials/new-folder-form.ejs') %>
        <main id="main-main" style="padding: 2rem;">
          <h2 style="font-size: 2rem;">
          <%= (selectedFolder) %>
          </h2>
          <% if (files.length === 0) {%>
          <p style="font-size: 1.4rem;margin-bottom: 2rem;font-weight: 300;">
            <%= files.length %>
            files
          </p>

          <div style=" flex-direction: column;display: flex; align-items: center; margin-top: 20vh;">
            <h3 style="font-size: 1.2rem; font-weight: 300;">No files in this folder</h3>
            <p style="font-size: 1.3rem; font-weight: 300;">Upload files to get started</p>
          </div>
         <% } else if (files.length === 1) { %>
          <p style="font-size: 1.4rem;margin-bottom: 2rem;font-weight: 300;">
            <%= files.length %>
            file
          </p>
          <% } else { %>
            <p style="font-size: 1.4rem;margin-bottom: 2rem;font-weight: 300;">
            <%= files.length %>
            files
          </p>
          <% } %>
          <% if (files.length) { %>
            <%- include('./partials/file.ejs') %>
            <%- include('./partials/list-file.ejs') %>
          <% } %>
        </main>
      </section>
    </div>
    <%- include('./partials/footer') %>
  </body>
  <%- include('./partials/scripts/storageDom') %>
</html>
