<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Page | SilverCloud</title>
    <%- include('./partials/shared', {page: 'Storage Page'}) %>
  </head>
  <body style="display: flex; align-items: center; justify-content: center; background-color: black;">
    <form enctype="multipart/form-data" style="padding: 1.3rem; border-radius: .5rem; width: clamp(350px, 60vw, 700px); height: clamp(540px, 70vh, 900px); background-color: white;" action="/upload" method="post" id="file-upload-form">
      <div style="margin: .7rem 0; display: flex; justify-content: space-between; align-items: center;">
        <h2 style="font-weight: 300; font-size: 1.4rem;">Upload Files</h2>
        <a href="/storage" style="text-decoration: none; color: gray; font-size: 1.3rem;">X</a>
      </div>
      <hr>
      <div class="flex-col">
        <label style="margin: 1rem 0" for="select-folder">Select Folder</label>
        <select style="background-color: white; height: 3rem; border-radius: .3rem;" name="folder" id="select-folder" required>
          <% folders.map((folder, idx) => { %>
            <% if (idx !== 0 && idx !== 1) { %>
              <option value="<%= folder.name %>">
                <%= folder.name %>
              </option>
            <% } else if (idx === 1) { %>
              <option selected value="<%= folder.name %>">
                <%= folder.name %>
              </option>
            <% } %>
          <% }) %>
        </select>
      </div>

      <div>
        <div id="accepted">Accepted: <span id="accepted-files"></span></div>
      </div>

      <input type="file" name="file" required id="file">
      <button id="submit-btn">Submit</button>
    </form>
  </body>
  <%- include('./partials/scripts/extensionValidator') %>
</html>
