<div id="header-container">
  <header id="main-header">
    <a href="
     <% if (page === 'Storage Page') {} else { %>
            /
          <% } %>
        ">
      <div id="left-header">
        <img src="./assets/cloud.svg" aria-hidden="true" width="40" id="logo"/>
        <div>
          <h1 aria-label="Webpage title header" tabindex="0">SilverCloud</h1>
          <% if (page === 'Storage Page') { %>
            <h2>
              <%= user.name %>
              <%= user.surname %>
            </h2>
          <% } %>
        </div>
      </div>
    </a>
    <ul id="right-header">
      <% if (page === 'Home Page') { %>
        <li class="signin-li"><a href="/signin">Sign In</a></li>
        <li class="signup-li"><a href="/signup">Sign Up</a></li>
        <li class="shared-li">
          <%- include('./sharedAccessForm') %>
        </li>
      <% } else if (page === 'Signup Page') { %>
          <li class="signin-li"><a href="/signin">Sign In</a></li>
        <li class="shared-li">
         <%- include('./sharedAccessForm') %>
        </li>
      <% } else if (page === 'Signin Page') { %>
          <li class="signup-li"><a href="/signup">Sign Up</a></li>
        <li class="shared-li">
          <%- include('./sharedAccessForm') %>
        </li>
      <% } else if (page === 'Storage Page') { %>
        <li class="signout-li">
          <a  href="/log-out"><img id="signout-svg" src="./assets/signout.svg" aria-label="signout button" alt="signout icon" width="45"></a>
        </li>
      <% } %>

    </ul>
  </header>
</div>
