<aside id="nav-bar" style="display:none;" tabindex="1" aria-roledescription="nav-bar" aria-label="folder sidebar">
    <ul id="nav-ul" class="flex-col">
        <% folders.forEach((folder, idx) => { %>
            <% if (idx === 1) { %>
                <h4 style="font-size: 1.3rem;margin-top: 1rem; margin-bottom: .5rem; margin-left: 16px; font-weight: 300; color: #2d3542;">Folders</h4>
                <li id="folder-<%= idx %>">
                <form action="/storage" method="get">
                    <button class="folder-btn" data-folderName="<%= folder.name  %>" style="font-weight: 300;display: flex; align-items: center; gap: .6rem;"><%= folder.name %></button>
                    <input type="hidden" name="folders" value="<%= folder.name %>">
                </form>
                </li>
            <% } else if (idx === 4) { %>
            <li id="folder-<%= idx %>">
            <form action="/storage" method="get">
                <button class="folder-btn" data-folderName="<%= folder.name  %>" style="font-weight: 300; display: flex; align-items: center; gap: .6rem;"><%= folder.name %></button>
                <input type="hidden" name="folders" value="<%= folder.name %>">
            </form>
            </li>
            <hr style="border: 1px solid rgb(236, 236, 236);">
            <% } else { %>
            <li id="folder-<%= idx %>">
            <form action="/storage" method="get">
                <button class="folder-btn" data-folderName="<%= folder.name  %>" style="font-weight: 300; display: flex; align-items: center; gap: .6rem;"><%= folder.name %></button>
                <input type="hidden" name="folders" value="<%= folder.name %>">
            </form>
            </li>
            <% } %> %>
        <% }) %>
        <li >
            <button id="new-folder-btn" style="font-weight: 300; display: flex; align-items: center; gap: .6rem;"><img width="25" src="/assets/folders/new.svg" aria-hidden="true">New Folder</button>
            <form id="new-form-li" action="/storage" method="post" class="hidden">
                <input type="hidden" name="action" value="create" />
                <input maxlength="16" id="new-folder-input" type="text" name="folderName" placeholder="Folder name">
            </form>
        </li>
        <li style="padding: 8px 12px;font-size: 1.2rem; font-weight: 300; margin-top: 2rem;">
          <label for="progress-bar">Available Storage:
            <%= profile.usedStorage %>
            <span style="font-size: 1rem;">MB</span>
          </label>
              <progress style="width: 98%;" id="progress-bar" max="100" value="<%= 100 - profile.usedStorage %>"></progress>
        </li>
    </ul>
    <input id="selected-folder" type="hidden" name="selectedFolder" value="<%= selectedFolder %>" />
</aside>

<%- include('./scripts/buttonSvgSelector')  %>

<!-- New folder button and input ui changes on click or submit -->
<script>
    const newFolderBtn = document.getElementById('new-folder-btn');
    const formLi = document.getElementById('new-form-li');

    newFolderBtn.addEventListener('click', () => {
        formLi.classList.remove('hidden');
        newFolderBtn.classList.add('hidden');
    })

    formLi.addEventListener('submit', () => {
        formLi.classList.add('hidden');
        newFolderBtn.classList.remove('hidden');
    })
</script>

<!-- Ui active folder indicator -->

<script>
    const selectFolder = document.getElementById('selected-folder');

    const test = document.querySelector(`[data-foldername="${selectFolder.value}"]`);

    test.style.backgroundColor = '#daeafe';
</script>
