<aside id="nav-bar" style="display:none; ">
    <ul id="nav-ul" class="flex-col">
        <% folders.forEach((folder, idx) => { %>
            <% if (idx === 1) { %>
                <h4>Folders</h4>
                <li id="folder-<%= idx %>">
                <form action="/storage" method="get">
                    <button><%= folder.name %></button>
                    <input type="hidden" name="folders" value="<%= folder.name %>">
                </form>
                </li>
            <% } else { %>
            <li id="folder-<%= idx %>">
            <form action="/storage" method="get">
                <button><%= folder.name %></button>
                <input type="hidden" name="folders" value="<%= folder.name %>">
            </form>
            </li>
            <% } %>
        <% }) %>
        <li>
            <form action="/storage" method="post">
                <input type="hidden" name="action" value="create" />
                <input id="new-folder-input" type="text" name="folderName" placeholder="Folder name">
            </form>
        </li>
    </ul>
</aside>